<h2>Hello {{user.username}}</h2><br><br>

{{!-- Status messages for creating cinema, screening, movie --}}
{{#if messagePos}}
<div class="message-pos">{{messagePos}}</div>
{{/if}}
{{#if message}}
<div class="error-message">{{message}}</div>
{{/if}}

{{#each cinemas}}
<div>
  <div style="font-size:20px;">{{name}}</div>
  <button class="edit-cinema"><a href="/admin/edit-cinema/{{id}}">EDIT</a></button>
  <a href="/admin/add-screening/{{id}}/">create screening</a>
  {{!-- </form> --}}

</div><br>
{{/each}}

<hr>
<div>
  <button><a href="/admin/add-cinema">Add a new cinema</a></button>
  <button><a href="/admin/add-movie">Add a new movie</a></button>
  <button><a href="/admin/edit-movie">Edit movies</a></button>
</div>


