<h1>Hello {{user.username}}</h1>

{{!-- Status messages for creating cinema, screening, movie --}}
{{#if messagePos}}
<div class="message-pos">{{messagePos}}</div>
{{/if}}
{{#if message}}
<div class="error-message">{{message}}</div>
{{/if}}

<h2>Cinema overview</h2>
{{#each cinemas}}
<div>
  <div style="font-size:20px;">{{name}}</div>
  <button class="edit-cinema"><a href="/admin/edit-cinema/{{id}}">edit</a></button>
  <button><a href="/admin/add-screening/{{id}}/">create screening</a></button>
  {{!-- </form> --}}

</div><br>
{{/each}}

<h2>Add new properties</h2>
<div>
  <button class="admin-button"><a href="/admin/add-cinema">add a new cinema</a></button>
  <button class="admin-button"><a href="/admin/add-movie">add a new movie</a></button>
  <button class="admin-button"><a href="/admin/edit-movie">edit movies</a></button>
</div>