<h2>Your ticket overview</h2>

{{#each tickets}}
<div class="profile-ticket-overview">
  <img class="profile-ticket-img" src="{{movieDetails.imageUrl}}" alt="img">
  <div>
    <p>
      {{formatDateYear date}} | {{timeStart}} |
      <span class="profile-tickets-mobile">
        <span class="profile-tickets-movie-title">{{movieDetails.title}}</span>
        | {{nrTicket}} ticket(s)
      </span>
    </p>

    {{#each seatPlan}}
    <p class="profile-tickets-movie-seats">> Row: {{row}} | seat: {{seatNo}}</p>
    {{/each}}

  </div>
</div>
{{/each}}

<button><a href="/profile">back to profile</a></button>