{{!-- <div class="datePickerContainer">
  {{#each datePicker}}
  <span class="screeningDatePick">
    <a href=".?date={{formatDate this}}">{{formatDate this}}</a>
  </span>
  {{/each}}
</div> --}}
<h2>{{cinema.name}} - {{cinema.address.city}}</h2>

<div id="datePickerContainer"></div>
<br><br>
<div id="screeningContainer"></div>
 

{{!-- {{#each screenings}}
<p>Starts at: {{timeStart}}</p>
Date formatted
<p>Date: {{formatDate date}}</p>
<p>Movie: {{movieID.title}}</p>
{{/each}} --}}

<script src="../javascripts/moment.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/screening-overview.js"></script>
