<h2>{{cinema.name}}</h2>

<div>
  <h3>Opening hours</h3>
  <table>
    {{#each cinema.workingSchema}}
    <tr>
      <td>{{this.day}}</td>
      <td>{{startTime}}</td>
      <td>{{endTime}}</td>
    </tr>
    {{/each}}
  </table>
</div>

<div>
  <h3>Rooms</h3>
  <table>
    {{#each cinema.rooms}}
    <tr>
      <td>{{name}}</td>
      <td>Capacity: {{capacity}}</td>
      <td>Screentype: {{screenType}}</td>
    </tr>
    {{/each}}
  </table>
</div>

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQpT4J3WNKmNaE4gDHqBLm1ma2nUcUkkI"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/cinema-details.js"></script>