<h2>{{cinema.name}}</h2>

<div>
  <h3>Opening hours</h3>
  <table>
    {{#each cinema.workingSchema}}
    <tr>
      <td>{{this.day}}</td>
      <td>{{startTime}}</td>
      <td>{{endTime}}</td>
    </tr>
    {{/each}}
  </table>
</div>

<h3>Directions</h3>
<table>
  <tr>
    <td>By car: {{cinema.transport.auto}}</td>
  </tr>
  <tr>
    <td>By public transport: {{cinema.transport.publicTransport}}</td>
  </tr>
</table> 



<div id="map"></div>

<div>
  <h3>Rooms</h3>
  <table>
    {{#each cinema.rooms}}
    <tr>
      <td>{{name}}</td>
      <td>Capacity: {{capacity}}</td>
      {{!-- <td>Screentype: {{screenType}}</td> --}}
    </tr>
    {{/each}}
  </table>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU5rvcQXc7XVrzrdK5CqbA7tKFNiLtt0Q"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/cinema-details.js"></script>