{{#each cinemas}}
  <div class="cinema-overview-container">
    <h2>{{name}}</h2>
    <p class="cinema-overview-address">{{address.name}} {{address.streetNumber}} | {{address.city}}</p>
    <button><a href="/cinema/{{_id}}">about cinema</a></button>
    <button><a href="/screening/{{id}}">book tickets!</a></button>
  </div>
{{/each}}
