<div class="movie-details-container">
  <div class="movie-details-text">
    <h3>{{title}}</h3>
    <p>{{plot}}</p>
    <p>Release date: {{formatDateYear releaseDate}}</p>
    <p>Rating: {{rating}}</p>
  </div>
  <img class="movie-details-poster" src="{{imageUrl}}" alt="Poster of {{title}}">
</div>
<button><a href="/cinema">tickets</a></button>
{{#if videoUrl}}
<h3>Movie trailer</h3>
<div class="video-container">
  <iframe id="ytplayer" type="text/html" width="640" height="360"
    src="https://www.youtube.com/embed/{{videoUrl}}?autoplay=0&rel=0" frameborder="0">
  </iframe>
</div>

{{/if}}